.about-section {
    width:90%;
}

.about-section h1, .about-section hr, .about-section p{
    margin-bottom: 10px;
}

.about-section h1{
    font-size: large;
    margin-top: 20px;
}

.about-section img{
    max-width: 300px;
}

.about-mission {
    display:flex;
    align-items: top;
}

.about-mission p {
    margin-right: 20px;
}

.about-story {
    display:flex;
    align-items: top;
}

.about-story img {
    margin-right: 20px;
}